<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=K<, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello dude</h1>
</body>
</html>